@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
body {
  background-color: rgb(255, 254, 254);
}

#logo {
  width: 268px;
  height: 68px;
}
nav {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
.mainMenu {
  display: flex;
  margin-top: 18px;
}
.mainMenuItem {
  margin-left: 20px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #ababab;
}
.subMenu {
  display: none;
  position: absolute;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  width: 190px;
  height: 220px;
  margin-left: -108px;
}
.mainMenu :hover {
  cursor: pointer;
  color: #00bfa5;
}
#logo:hover {
  cursor: pointer;
}

.mainMenuItem:hover .subMenu {
  display: block;
}
.subMenuItem {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #ababab;
  width: 190px;
  height: 32px;
  margin-left: -40px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 10px;
}
.subMenuItem:hover {
  background-color: #f6f8f8;
  color: #00bfa5;
}
#Marketing {
  margin-top: 10px;
}
.title {
  text-align: center;
  margin-top: 40px;
}
.title h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 44.2px;
  color: #00bfa5;
}
.para {
  display: flex;
  width: 1015px;
  margin-left: 444px;
  text-align: justify;
}
p {
  height: 112px;
  width: 477.5px;
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #747881;
}
.p2 {
  padding-left: 50px;
}
.boxes {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: "Work Sans", Arial, sans-serif;
  margin-left: 100px;
}
.boxes img {
  height: 24px;
  width: 24px;
}
.box1 {
  background-color: #19d1b9;
  margin-left: -88px;
}
.box2 {
  background-color: #3d83df;
  margin-left: 22px;
}
.box3 {
  background-color: #313c48;
  margin-left: 22px;
}
.box1,
.box2,
.box3 {
  height: 315px;
  width: 250px;
  padding: 32px 32px 0 32px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.title_box {
  color: #ffffff;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 33.8px;
  width: 240px;
  height: 40px;
  margin-top: 10px;
}
.paragraph_box {
  color: #ffffff;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: justify;
  width: 240px;
  margin-top: -20px;
}
.boxes select {
  text-decoration: underline solid #ffffff;
  border: none;
  font-family: roboto, arial, sans-serif;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 24.96px;
  color: #ffffff;
  background: 0% 0%;
  margin-top: 15px;
}
option {
  color: black;
}

.select {
  display: flex;
  height: 70px;
  padding: 0%;
  flex-direction: column-reverse;
}
